.topmargin {
  margin-top: 15px !important;
}

.menuItem {
  margin-top: 15px !important;
}

.seasontoday {
  margin-bottom: 20px;
}

.seasonlist {
  text-align: center;
  margin-bottom: 20px;
}

.googleAd {
  margin-top: 15px;
}

.adslot_1 {
  width: 320px;
  height: 50px;
}

.basketHeader {
  margin-top: 17px !important;
  margin-bottom: 15px !important;
}

.checkbox {
  margin-right: 5px;
}

.textButton {
  background-color: #88C057 !important;
}

.textingredients {
  margin-top: 15px;
}

.favoriteButton {
  background-color: #F36B6B !important;
  color: #FBEAE2 !important;
}

.basketButton {
  background-color: #FBCB5C !important;
}

.inputStyle {
  width: 50 !important;
}

.allrecipes {
  text-align: center;
  margin-bottom: 20px;
}

.dragdrop {
  width: 119px;
  height: 119px;
  object-fit: cover;
  margin: 5px;
  border-radius: 500%;
}

.daylabel {
  text-align: center !important;
}

.day {
  width: 80px !important;
}



