.topmargin {
  margin-top: 15px !important;
}

.menuItem {
  margin-top: 15px !important;
}

.seasontoday {
  margin-bottom: 20px;
}

.seasonlist {
  text-align: center;
  margin-bottom: 20px;
}

.googleAd {
  margin-top: 10px;
}

.hoverstyle:hover {
  cursor: pointer !important;
}