.topmargin {
  margin-top: 15px !important;
}

.menuItem {
  margin-top: 15px !important;
}

.seasontoday {
  margin-bottom: 20px;
}

.seasonlist {
  text-align: center;
  margin-bottom: 20px;
}

.googleAd {
  margin-top: 15px;
}

.basketHeader {
  margin-top: 17px !important;
  margin-bottom: 15px !important;
}

.textButton {
  background-color: #88C057 !important;
}

.favoriteButton {
  background-color: #F36B6B !important;
  color: #FBEAE2 !important;
}

.basketButton {
  background-color: #FBCB5C !important;
}

.inputStyle {
  width: 50 !important;
}

.cartButton {
  margin-left: 20px !important;
}